<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moaazfathy.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cheef_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cheef_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:noHistory="true"
            android:theme="@style/Base.Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.RecipeDetailsActivity" />
        <activity android:name=".Activities.StepDetailsActivity" />

        <receiver android:name=".Widget.RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_info" />
        </receiver>

        <service
            android:name=".Widget.IngredientDetailsListService"
            android:exported="false"></service>
        <service android:name=".Widget.WidgetListViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>